<!doctype html>
<html>
<head>
    <title>{{ title }}</title>
    <link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
        body {
            padding-top: 15px;
            padding-bottom: 40px;
        }
        select {
            width: 50px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    {{ #all_lessons }}
                        <li class="nav-header">Lesson {{chapter}}</li>
                        {{ #links }}
                            <li><a href="{{href}}">{{title}}</a></li>
                        {{ /links }}
                    {{ /all_lessons }}
                </ul>
            </div><!--/.well -->
        </div><!--/span-->
    <div class="span9">
        <div id="quiz">
            <div id="asound">
            </div>
            <div id="answers">
                <form id="answerform">
                    <input type="submit" name="submit" value="Answer" id="answerbutton" />
                    <input type="submit" name="newchord" value="New Chord" id="nextchord" />
                </form>
            </div>
            <div id="response">
            </div>
        </div>
    </div>
</div>
</body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
var sound_files = {{ quality }}
var sounds = {{ palette }}

function evaluate_answer() {
    var user_answer = $("input[name='answer']:checked").attr("value");
    var correct_answer = $("source").attr("chord");

    if (user_answer == correct_answer) {
        $("#response").html('<a href="#" class="btn btn-success disabled"><i class="icon-ok"></i> Correct!</a>');
    } else {
        $("#response").html('<a href="#" class="btn btn-danger disabled"><i class="icon-remove"></i> Try Again</a>');
    }

    return false;
}

function sample(lst) {
    return lst[Math.floor(Math.random() * lst.length)];
}

function next_chord() {
    //clear all radio buttons
    $("input:radio").attr("checked", false);

    //clear the answer field
    $("#response").html("");

    var random_sound = sample(sound_files);
    var sound_src = random_sound[0];
    var sound_id  = random_sound[1];

    var audio_html = '<audio id="player" controls="controls"><source chord="'+sound_id+'" src="'+sound_src+'" /></audio>';
    $("#asound").html(audio_html);
}

//return true if the chord_id in the sounds array
function sound_in_sound_files(chord_id) {
    var found = false;

    $.each(sound_files, function(idx, val) {
        if (val[1] == chord_id) {
            found = true;
            return false;
        }
    });

    return found;
}

$(function() {
    $("#answerbutton").click(evaluate_answer);
    $("#nextchord").click(next_chord);

    $.each(sounds.reverse(), function (idx, val) {
        //for the chord quality example, limit the options to what's in the quality array
        if (!sound_in_sound_files(val[0])) {
            return true;
        }

        var display_name = val[1];
        var sound_id = val[0];

        var option_html = '<label class="radio"><input type="radio" name="answer" value="'+sound_id+'">'+display_name+'</input></label>'

        $("#answerform").prepend(option_html);
    });

    next_chord();
});
    </script>
</html>
