<!doctype html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
<div id="quiz">
    <div id="asound">
    </div>
    <div id="answers">
        <form id="answerform" action="#">
            <input type="submit" name="submit" value="Answer" id="answerbutton" />
        </form>
    </div>
    <div id="response">
    </div>
    <div id="next">
        <a href="#" id="nextseq">Give Me a New Chord Sequence</a>
    </div>
</div>
</body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
var sequences = {{ sequences }}

function evaluate_answer() {
    var correct_answers = $("source").attr("sequence").split(",");

    $.each(correct_answers, function(idx, correct_answer) {
        var user_answer = $("#chord" + idx).val();
        var response_td = $("#response" + idx);

        var response = "";

        if (user_answer == correct_answer) {
            response = '<span style="correct">&#10003;</span>';
        } else {
            response = '<span style="incorrect">&#215;</span>';
        }

        response_td.html(response);
    });

    return false;
}

function sample(lst) {
    return lst[Math.floor(Math.random() * lst.length)];
}

function next_seq() {
    //clear all select boxes
    $("select").val("a");

    //clear the answer field
    $(".response").html("")

    var sound_and_seq = sample(sequences);
    var sound_src = sound_and_seq[0];
    // JSON-encode the seq so we can stick it in an attr
    var sound_seq  = sound_and_seq[1].join(",");

    var audio_html = '<audio id="player" controls="controls"><source sequence="'+sound_seq+'" src="'+sound_src+'" /></audio>';
    console.log(audio_html);
    $("#asound").html(audio_html);
}

//return all chords used anywhere in a sequence
function all_possible_chords(seqs) {
    var possible_chords = [];

    $.each(seqs, function (idx, val) {
        var chords = val[1];

        $.each(chords, function(idx, chord) {
            if (possible_chords.indexOf(chord) == -1) {
                possible_chords.push(chord);
            }
        });
    });

    return possible_chords;
}

function chord_options(possible_chords, n) {
    var html = '<td><select id="chord'+n+'" name="chord'+n+'">\n';

    $.each(possible_chords, function(idx, val) {
        html += '<option value="'+val+'">'+val+'</option>';
    });

    html += '</select>';

    return html
}

$(function() {
    $("#answerbutton").click(evaluate_answer);
    $("#nextseq").click(next_seq);

    var possible_chords = all_possible_chords(sequences);
    var answerform_html = "<table><tr>";
    var bottomrow = "<tr>";

    //assume every sequence is a 4-chord sequence for now
    for (var i=0; i<4; i++) {
        answerform_html += chord_options(possible_chords, i);
        bottomrow += '<td class="response" id="response'+i+'"></td>';
    }
    answerform_html += "</tr>" + bottomrow + "</tr>"
    $("#answerform").prepend(answerform_html);

    next_seq();
});
    </script>
</html>
